<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <h6 class="fa fa-user-circle"> Username: {{this.username}} </h6>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class=" nav-item active">            <app-button-component [class] = "classText" [text]="loginText"    (onClickEmittor)="directTologinpage()"          ></app-button-component> -->
      <!-- </li>   -->
      <li><button type="button" class="btn btn-light">         <app-button-component  [text]="updateText"    (onClickEmittor)="directUpdatePage()"          ></app-button-component></button>
      </li>
      <li><button type="button" class="btn btn-light">         <app-button-component  [text]="reviewOrderText"    (onClickEmittor)="directToReviewPage()"          ></app-button-component></button>
      </li>
      <!-- <li><a href="#">                    
      </a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><span class="glyphicon glyphicon-log-in"></span>   <button type="button" class="btn btn-light" style="border:none">  <app-button-component [class] = "classText" [text]="loginText"    (onClickEmittor)="directTologinpage()"          ></app-button-component></button></li>
      <li><span class="glyphicon glyphicon-user"></span> <button type="button " class="btn btn-light" style="border:none" >  <app-button-component  [text]="LogoutText" style="border:none"   (onClickEmittor)="directToHomePageAfterLogOut()"          ></app-button-component></button></li>
      <li><span class="glyphicon glyphicon-user"></span> <button type="button" class="btn btn-light" style="border:none">  <app-button-component  [text]="signupText" (onClickEmittor)="directToRegisterPage()"         ></app-button-component></button></li>
    </ul>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">HOME</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <app-button-component [class] = "classText" [text]="loginText"    (onClickEmittor)="directTologinpage()"          ></app-button-component>
        </li>
        <li class="nav-item active">
          <app-button-component  [text]="updateText"    (onClickEmittor)="directUpdatePage()"          ></app-button-component>
        </li> <li class="nav-item active">
          <app-button-component  [text]="reviewOrderText"    (onClickEmittor)="directToReviewPage()"          ></app-button-component>
        </li> <li class="nav-item active">
          <app-button-component  [text]="LogoutText"    (onClickEmittor)="directToHomePageAfterLogOut()"          ></app-button-component>
        </li> -->
      <!-- </li>  -->
      <!-- <li class="nav-item active">
        <p>Username: {{this.username}}</p>
      </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a> -->
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          <!-- </div> -->
        <!-- </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <!-- </form> -->
    <!-- </div> -->
  <!-- </nav> -->
<!-- <app-button-component  [text]="signupText" (onClickEmittor)="directToRegisterPage()"         ></app-button-component>
<app-button-component  [text]="updateText"    (onClickEmittor)="directUpdatePage()"          ></app-button-component>
<app-button-component  [text]="reviewOrderText"    (onClickEmittor)="directToReviewPage()"          ></app-button-component>
<app-button-component  [text]="LogoutText"    (onClickEmittor)="directToHomePageAfterLogOut()"          ></app-button-component> -->
<!-- <div class="col-md-2 ">
<p>Username: {{this.username}}</p>
</div> -->